In [35]:
import pandas as pd
import requests
import json

stockRequest = requests.get("https://www.alphavantage.co/query", params = {
    "function": "TIME_SERIES_DAILY_ADJUSTED",
    "symbol": "AAPL",
    "outputsize": "full", # "compact" returns the latest 100 points, "full" returns all points available
    "apikey": "" # include your api key here
})

stockData = pd.read_json(json.dumps(stockRequest.json()["Time Series (Daily)"]))
stockData

,2021-02-01,2021-01-29,2021-01-28,2021-01-27,2021-01-26,2021-01-25,2021-01-22,2021-01-21,2021-01-20,2021-01-19,...,1999-11-12,1999-11-11,1999-11-10,1999-11-09,1999-11-08,1999-11-05,1999-11-04,1999-11-03,1999-11-02,1999-11-01
1. open,1.337500e+02,1.358300e+02,1.395200e+02,1.434300e+02,143.60,1.430700e+02,1.362800e+02,1.338000e+02,1.286600e+02,1.277800e+02,...,9.194000e+01,9.159000e+01,8.825000e+01,9.437000e+01,8.775000e+01,8.462000e+01,8.206000e+01,8.162000e+01,7.800000e+01,8.000000e+01
2. high,1.353800e+02,1.367400e+02,1.419900e+02,1.443000e+02,144.30,1.450900e+02,1.398500e+02,1.396700e+02,1.324900e+02,1.287100e+02,...,9.200000e+01,9.262000e+01,9.325000e+01,9.450000e+01,9.773000e+01,8.837000e+01,8.537000e+01,8.325000e+01,8.169000e+01,8.069000e+01
3. low,1.309300e+02,1.302100e+02,1.367000e+02,1.404100e+02,141.37,1.365400e+02,1.350200e+02,1.335900e+02,1.285500e+02,1.269380e+02,...,8.737000e+01,8.987000e+01,8.812000e+01,8.800000e+01,8.675000e+01,8.400000e+01,8.062000e+01,8.100000e+01,7.731000e+01,7.737000e+01
4. close,1.341400e+02,1.319600e+02,1.370900e+02,1.420600e+02,143.16,1.429200e+02,1.390700e+02,1.368700e+02,1.320300e+02,1.278300e+02,...,9.062000e+01,9.225000e+01,9.144000e+01,8.962000e+01,9.637000e+01,8.831000e+01,8.362000e+01,8.150000e+01,8.025000e+01,7.762000e+01
5. adjusted close,1.341400e+02,1.319600e+02,1.370900e+02,1.420600e+02,143.16,1.429200e+02,1.390700e+02,1.368700e+02,1.320300e+02,1.278300e+02,...,6.978901e-01,7.104432e-01,7.042052e-01,6.901888e-01,7.421725e-01,6.801001e-01,6.439811e-01,6.276544e-01,6.180278e-01,5.977734e-01
6. volume,1.054245e+08,1.775238e+08,1.426211e+08,1.408438e+08,98390555.00,1.576117e+08,1.144594e+08,1.205295e+08,1.043195e+08,9.075733e+07,...,2.491600e+06,2.409600e+06,5.159800e+06,7.224800e+06,8.490400e+06,3.721500e+06,3.384700e+06,2.932700e+06,3.564600e+06,2.487300e+06
7. dividend amount,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
8. split coefficient,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [36]:
stockData

,2021-02-01,2021-01-29,2021-01-28,2021-01-27,2021-01-26,2021-01-25,2021-01-22,2021-01-21,2021-01-20,2021-01-19,...,1999-11-12,1999-11-11,1999-11-10,1999-11-09,1999-11-08,1999-11-05,1999-11-04,1999-11-03,1999-11-02,1999-11-01
1. open,1.337500e+02,1.358300e+02,1.395200e+02,1.434300e+02,143.60,1.430700e+02,1.362800e+02,1.338000e+02,1.286600e+02,1.277800e+02,...,9.194000e+01,9.159000e+01,8.825000e+01,9.437000e+01,8.775000e+01,8.462000e+01,8.206000e+01,8.162000e+01,7.800000e+01,8.000000e+01
2. high,1.353800e+02,1.367400e+02,1.419900e+02,1.443000e+02,144.30,1.450900e+02,1.398500e+02,1.396700e+02,1.324900e+02,1.287100e+02,...,9.200000e+01,9.262000e+01,9.325000e+01,9.450000e+01,9.773000e+01,8.837000e+01,8.537000e+01,8.325000e+01,8.169000e+01,8.069000e+01
3. low,1.309300e+02,1.302100e+02,1.367000e+02,1.404100e+02,141.37,1.365400e+02,1.350200e+02,1.335900e+02,1.285500e+02,1.269380e+02,...,8.737000e+01,8.987000e+01,8.812000e+01,8.800000e+01,8.675000e+01,8.400000e+01,8.062000e+01,8.100000e+01,7.731000e+01,7.737000e+01
4. close,1.341400e+02,1.319600e+02,1.370900e+02,1.420600e+02,143.16,1.429200e+02,1.390700e+02,1.368700e+02,1.320300e+02,1.278300e+02,...,9.062000e+01,9.225000e+01,9.144000e+01,8.962000e+01,9.637000e+01,8.831000e+01,8.362000e+01,8.150000e+01,8.025000e+01,7.762000e+01
5. adjusted close,1.341400e+02,1.319600e+02,1.370900e+02,1.420600e+02,143.16,1.429200e+02,1.390700e+02,1.368700e+02,1.320300e+02,1.278300e+02,...,6.978901e-01,7.104432e-01,7.042052e-01,6.901888e-01,7.421725e-01,6.801001e-01,6.439811e-01,6.276544e-01,6.180278e-01,5.977734e-01
6. volume,1.054245e+08,1.775238e+08,1.426211e+08,1.408438e+08,98390555.00,1.576117e+08,1.144594e+08,1.205295e+08,1.043195e+08,9.075733e+07,...,2.491600e+06,2.409600e+06,5.159800e+06,7.224800e+06,8.490400e+06,3.721500e+06,3.384700e+06,2.932700e+06,3.564600e+06,2.487300e+06
7. dividend amount,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
8. split coefficient,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00